#header {
    height: 5%;
}
#footer {
    height: 10%;
    position: absolute;
}
#content{

}

body {
    height: 85%;
    margin-bottom: 1%;
    font-family: 'Lato';
}
body h1, h2, h3  {
    font-size: 16px;
    font-family: 'Gudea', sans-serif;
}
body p  {
    font-size: 14px;
    font-family: 'Gudea', sans-serif;
}

/* ------------------ carousel ------------------------- */

.carousel .item {
  height: 650px;
}
.right.carousel-control, .left.carousel-control {
    opacity: 0;
    filter:alpha(opacity=0); /* IE support */
}


.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

/* ------------------ nav ------------------------- */

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover
{
  background-color: none !important;
}
.nav{
  border: #080808;
}
.navbar{
  margin-bottom: 0px !important;
  background-color: none;
  background:none;
  border: none;
}
.navbar-nav{
  float: right !important;
}
footer{
  background-color: darkgrey;
  bottom:0;
  width: 100%;

}
.w3agile_footer_copy{
  border-top:1px solid;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: black; 
}
.navbar-inverse {
    background-color: #fff !important;
    border-color: #fff !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #464343;
}

ul.nav a:hover { 
     color: #464343 !important;

}