<div class="container">   
  <div class="row" style="background-color:grey;margin-top:200px;margin-left:400px;margin-right:400px;padding-top:20px;padding-right:20px;">     
    <div class="form-group" ng-controller="contactController">
    <form ng-app="myApp" name="myForm" novalidate>

    <label class="col-md-2 col-form-label">Name:</label>
    <input type="text" name="user" ng-model="fullName" required>
    <span style="border-color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"><br>
    <span ng-show="myForm.user.$error.required">Username is required.</span>
    </span>
    </p>

    <label class="col-md-2 col-form-label">Email:</label>
    <input type="email" name="email" ng-model="email" required>
    <span style="border-color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid"><br>
    <span ng-show="myForm.email.$error.required">Email is required.</span>
    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
    </span>
    </p>

    <label class="col-md-2 col-form-label">Phone:</label>
    <input type="text" name="phone" ng-model="phone" required>
    <span style="border-color:red" ng-show="myForm.phone.$dirty && myForm.phone.$invalid"><br>
    <span ng-show="myForm.address.$error.required">Username is required.</span>
    </span>
    </p>

    <button type="submit" class="btn btn-primary" style="margin-left:100px;margin-top:20px;color:black;background-color:orange;"
    ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||  
    myForm.email.$dirty && myForm.email.$invalid || myForm.address.$dirty && myForm.address.$invalid">Submit</button>

    </form></div>
  </div>
</div>

