<div class="container" style="margin-top:100px;">
  <div class="row" style="background:url('../image/bg6.jpeg');">

    <div class="col-md-4 grid"style="padding-top:50px;padding-bottom:50px;">
      <a href="#"><img src="../image/contact.jpeg" alt="Bhushan Mehre"></a>
    </div>
    <div class="col-md-8" style="padding-top:50px;padding-bottom:50px;">
      <p>We are an organization of dedicated Designers and craftsmen who are masters in carving out state of the art furniture which are Modern day specimen of futuristic design.

      We expertise in manufacturing products for every home accommodating every space available, transforming your home into a luxury destination. We thrive to provide our customers, furnishing products of highest quality and durability at really affordable prices.

      "We believe in the ideology of “In-depth understanding of customer requirements and delivering products that satisfy their senses”.</p>
    </div>
  </div>
</div>
<div class="container" style="margin-top:100px;">
  <div class="row"style="background:url('../image/bg6.jpeg');">

    <div class="col-md-8" style="padding-top:50px;padding-bottom:50px;">
      <p>We are an organization of dedicated Designers and craftsmen who are masters in carving out state of the art furniture which are Modern day specimen of futuristic design.

      We expertise in manufacturing products for every home accommodating every space available, transforming your home into a luxury destination. We thrive to provide our customers, furnishing products of highest quality and durability at really affordable prices.

      "We believe in the ideology of “In-depth understanding of customer requirements and delivering products that satisfy their senses”.</p>
    </div>
    <div class="col-md-4 grid"style="padding-top:50px;padding-bottom:50px;padding-right:-50px;">
      <a href="#"><img src="../image/contact.jpeg" alt="Bhushan Mehre"></a>
    </div>
  </div>
